* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* header start  */
.header {
  position: fixed;
  width: 100%;
  background-color: #5669FF;
  margin-bottom: 50px;
  padding: 12px 0;
  z-index: 100;
}
.header > .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  cursor: pointer;
}
.header > .container > .nav_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > .container > .nav_profile > .nav_menu a {
  font-size: 24px;
  margin-right: 55px;
  color: white;
  transition: .8s all;
}
.header > .container > .nav_profile > .nav_menu a:hover {
  color: rgb(255, 234, 0);
}
.header > .container > .nav_profile > .profile {
  margin-left: 32px;
}
/* header end */

/* section start */
#contain{
  display: flex;
  margin: 0  auto;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 150px;
}
span {
  font-size: 42px;
  font-weight: 700;
}
#contain > .photo {
  width: 60%;
}   
#contain > .photo > img {
  width: 100%;
  border-radius: 30px;
}
#contain > .content {
  text-align: center;
  width: 30%;
}
#contain > .content > p {
  font-size: 38px;
  line-height: 40px;
  margin-top: 25px;
}
/* section end */

#hyzmatlar{
  width: 100%;
  height: auto;
  padding-top: 200px;
}
h1 {
  color: #3D27C5;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.box1, .box2, .box3 {
  font-size: 32px;
}
.box1 {
  width: 80%;
  padding: 0 50px;
  border-radius: 20px;
  background-color: rgba(249, 240, 25, 0.7);
  display: flex;
}
.box1 .text{
  padding: 45px 0;
}
.box1 .title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin-right: 30px;
}
.box1 p {
  font-size: 40px;
}
.box2 {
  background: rgba(82, 252, 89, 0.7);
}
.for_mar{
  margin: 50px 0;
}
.row2{
      min-width: 354px;
    display: flex;
    justify-content: flex-end;
}
.box3 {
  background: rgba(184, 35, 236, 0.7);
}
.title{
  background: #F1ABA2;
}

#barada{
  width: 100%;
  height: auto;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title_about{
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #3D27C5;
  margin-bottom: 70px;
}
.title_about:first-child{
  margin-bottom: 0;
}
.about_con{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about_left{
  width: 300px;
  height: 486px;
  background: url(./images/rec3.png);
  background-repeat: no-repeat;
  padding-bottom: 130px;
  padding-top: 60px;
}
.about_left span{
  background-color: white;
  padding: 15px;
  width: 100%;
  border: 1px solid #5669FF;
  display: inline-block;
  text-align: center;
}
.about_middle{
  width: 300px;
  height: 585px;
  background: url(./images/rec2.png);
  background-repeat: no-repeat;
  padding-bottom: 130px;
  padding-top: 60px;
}

.about_middle span{
  background-color: white;
  padding: 15px;
  width: 100%;
  border: 1px solid #5669FF;
  display: inline-block;
  text-align: center;
}
.about_right{
  width: 300px;
  height: 680px;
  background: url(./images/rec1.png);
  background-repeat: no-repeat;
  padding-bottom: 130px;
  padding-top: 60px;
}
.about_right span{
  background-color: white;
  padding: 15px;
  width: 100%;
  border: 1px solid #5669FF;
  display: inline-block;
  text-align: center;
}
#profile{
  width: 100%;
  height: auto;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile_title{
  color: #3D27C5;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 60px;
}
input{
  width: 30%;
  background: #FFFFFF;
  border: 2px solid #3D27C5;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
  outline: none;
  font-size: 14px;
}
input:last-child{
  margin-bottom: 0;
}
button{
  width: 30%;
  background: #0062FF;
  border-radius: 8px;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 80px;
}
.forgot{
  color: #0062FF;
  font-weight: 700;
  font-size: 15px;
}
.frgt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fgt{
  font-size: 14px;
  color: #969AB8;
  margin: 30px 0 60px;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 1.60375px solid #E0E2E9;
  border-radius: 8px;
  padding: 15px 25px;
  margin-right: 15px;
  cursor: pointer;
}
.link:last-child{
  margin-right: 0;
}
.link_title{
  font-weight: 700;
  font-size: 14px;
  color: #171725;
  margin-left: 15px;
}
footer{
  background: #5669FF;
  padding: 20px;
  margin-top: 45px;
}
.footer_top{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link_footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.link_footer_title{
  margin-left: 30px;
  font-size: 24px;
  color: #FFFFFF;
}
.footer_bottom{
  width: 70%;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
